#log{

    float: right;
    text-align: center;
    margin-right: 50px;
    margin-top: -100px;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
   
   
}

#nom{

margin-top: 10px;
}


#logo {

    width: 100px;
    height: 100px;
}

table {

    border: 1px solid black;
}

tr {

    border: 1px solid black;
}

