
header
{
    text-align: middle;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}

h1{
    text-align: center;
    color: red;
}

body {
    
    width: 300px;
    margin-left: auto;
    margin-right: auto;  
    background-color: #FF2A00 ; 
    background: linear-gradient(70deg,#FF2A00, white );
  
}
    

.Login {

    border-width: 2px;
    border-style: double;
    border-color: black;
    padding : 5px;
    background-color: white;
    box-shadow:12px 12px 2px 1px #540B03;
    border-radius: 2%;

}

@media screen and (min-width: 768px)
 {

    .login {
        padding : 15px;
        
}
    }
@media screen and (max-width: 767px) 
{


}